.homeContainer {
  position: relative;
  height: 50vh;
  background: #222930;
  /* background: #3f4554; */
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

/* .homeContainer::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  transform-origin: top right;
  transform: skewY(-4deg);
  z-index: -1;
} */

.landingHeading {
  display: flex;
  align-items: center;

}

.landingHeading::before {
  position: relative;
  background: #848484;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
.landingHeading h2 {
  margin: 0 25px;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 1rem;
}

.landingHeading p {
  text-align: center;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: .8rem;
  text-transform: uppercase;
}

/* Service Section */

.services {
  padding: 20px;
  display: flex;
}

.serviceCard {
  text-align: center;
  position: relative;
  top: -85px;
  background: grey;
  width: 35%;
  border-radius: 10px;
  margin: 12px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.serviceCard h2 {
  font-weight: 200;
  letter-spacing: 7px;
  text-transform: uppercase;
}

.serviceCard p {
  font-weight: 300;
  letter-spacing: 3px;
  line-height: 20px;
}

.serviceIcon {
  font-size: 3rem;
}

/* About Me */

.aboutMe {
  display: flex;
  justify-content: center;
}

.headshot {
  display: flex;
  justify-content: center;
}

.headshot img {
  border-radius:40% 60% 56% 44% / 33% 45% 55% 67% ;  
  object-fit: scale-down;
}

.aboutMeContent {
  background: #fff;
  color: #000;
  margin: 0 60px;
  padding: 20px;
  border-radius: 10px;
}

.aboutMeContent div {
  margin: 45px 75px;
}

.aboutMeText p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 25px;
}

.aboutMeText h2 {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.smIcons {
  font-size: 2rem;
}

/* Resume */

.resumeSection {
  padding: 50px;
  display: flex;
  justify-content: center;
  background: grey;
}

.resumeSection button {
  padding: 15px;
  width: 150px;
  background: #222930;
  color: #fff;
  outline: none;
}

/* employment section */

.employmentSection{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  margin: 100px auto;
  padding: 0px 10px 0px 50px;
  border-left: 2px solid #fff;
}

.employmentSection p {
  padding: 20px;
  background: #34495e;
  color: #ecf0f1;
  font-family: tahoma;
  line-height: 1.7;
  position: relative;
}

.employmentSection p > span {
  display: block;
  padding: 5px 5px 10px 5px;
  color: #7f8c8d;
  font-style: italic;
  font-size: 13px;
}

.employmentSection p:before{
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2ecc71;
  top: -9px;
  left: -61px;
  position: absolute;
}

.employmentSection p:after{
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #34495e #34495e transparent       transparent ;
  border-width: 15px;
  position: absolute;
  top: 0px;
  left: -29px;
}

/* Projects Section */

.projectSection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.projectCards {
  background: #fff;
  display: flex;
  width: 75%;
  color: #000;
  padding: 25px;
  border-radius: 5px;
  margin: 25px 0;
}

/* .alt {
  order: 1;
} */


.projectImg {
  background: red;
  position: relative;
  top:-50px;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
  border-radius: 10px
}

.projectCards:nth-child(even) .projectImg{
  order: 1
}

.projectImg img{
  width: 100%;
  height: 100%;
  border-radius: inherit;
}


.projectCardsContent{
  width: 100%;
  padding: 35px;
}


/* Mobile */
@media (max-width: 600px) {
  .homeContainer{
    padding: 15px;
  }

  .landingHeading h2, .landingHeading p{
    font-size: 1rem;
  }

  .landingHeading img {
    width: 45%;
  }
  /* Service */

  .services {
    flex-flow: column;
  }
  .serviceCard {
    width: 100%;
    margin: 10px auto;
  }

  /* About Me */
  .aboutMe {
    flex-flow: column
  }

  .aboutMeContent {
    padding: 0px;
  }

  /* Employment */
  .employmentSection{
    width: 100%;
  }
  /* Projects */
}