.container {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.landingHeading {
  display: flex;
  align-items: center;

}

.landingHeading::before {
  position: relative;
  background: #848484;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
.landingHeading h2 {
  margin: 0 25px;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 1rem;
}

.landingHeading p {
  text-align: center;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: .8rem;
  text-transform: uppercase;
}
.headshot {
  margin: 0 150px;
  height: 300px;
  width: 300px;
  border-radius:40% 60% 56% 44% / 33% 45% 55% 67% ;  
  object-fit: cover;
}